{{ if eq .chezmoi.osRelease.id "ubuntu" }}
{{ if eq .chezmoi.arch "amd64" }}

# mise
{{ $miseVersion := (gitHubLatestRelease "jdx/mise").TagName -}}
[".local/bin/mise"]
  type = "archive-file"
  url = "https://github.com/jdx/mise/releases/download/{{ $miseVersion }}/mise-{{ $miseVersion }}-linux-x64.tar.gz"
  path = "mise/bin/mise"
  executable = true
  refreshPeriod = "168h"
  exact = true

# neovim
## binary
[".local/bin/nvim"]
  type = "file"
  url = "https://github.com/neovim/neovim/releases/download/nightly/nvim.appimage"
  executable = true
  refreshPeriod = "168h"
## nvimrc
[".config/nvim"]
  type = "git-repo"
  url = "git@github.com:airRnot1106/nvimrc.git"
  refreshPeriod = "24h"

# delta
{{ $deltaVersion := (gitHubLatestRelease "dandavison/delta").TagName -}}
[".local/bin/delta"]
  type = "archive-file"
  url = "https://github.com/dandavison/delta/releases/download/{{ $deltaVersion }}/delta-{{ $deltaVersion }}-x86_64-unknown-linux-gnu.tar.gz"
  path = "delta"
  stripComponents = 1
  executable = true
  refreshPeriod = "168h"

# lazygit
{{ $lazygitVersion := (gitHubLatestRelease "jesseduffield/lazygit").TagName | trimPrefix "v" -}}
[".local/bin/lazygit"]
  type = "archive-file"
  url = "https://github.com/jesseduffield/lazygit/releases/download/v{{ $lazygitVersion }}/lazygit_{{ $lazygitVersion }}_Linux_x86_64.tar.gz"
  path = "lazygit"
  executable = true
  refreshPeriod = "168h"

# oh-my-posh
[".local/bin/oh-my-posh"]
{{ $ohMyPoshVersion := (gitHubLatestRelease "JanDeDobbeleer/oh-my-posh").TagName -}}
  type = "file"
  url = "https://github.com/JanDeDobbeleer/oh-my-posh/releases/download/{{ $ohMyPoshVersion }}/posh-linux-amd64"
  executable = true
  refreshPeriod = "168h"

# eza
{{ $ezaVersion := (gitHubLatestRelease "eza-community/eza").TagName -}}
[".local/bin/eza"]
  type = "archive-file"
  url = "https://github.com/eza-community/eza/releases/download/{{ $ezaVersion }}/eza_x86_64-unknown-linux-gnu.tar.gz"
  path = "eza"
  stripComponents = 1
  executable = true
  refreshPeriod = "168h"

# fd
{{ $fdVersion := (gitHubLatestRelease "sharkdp/fd").TagName -}}
## binary
[".local/bin/fd"]
  type = "archive-file"
  url = "https://github.com/sharkdp/fd/releases/download/{{ $fdVersion }}/fd-{{ $fdVersion }}-x86_64-unknown-linux-gnu.tar.gz"
  path = "fd"
  stripComponents = 1
  executable = true
  refreshPeriod = "168h"
## autocomplate
[".bash_completion.d/fd"]
  type = "archive"
  url = "https://github.com/sharkdp/fd/releases/download/{{ $fdVersion }}/fd-{{ $fdVersion }}-x86_64-unknown-linux-gnu.tar.gz"
  include = ["*/autocomplate/**"]
  stripComponents = 1
  refreshPeriod = "168h"

# genact
{{ $genactVersion := (gitHubLatestRelease "svenstaro/genact").TagName | trimPrefix "v" -}}
[".local/bin/genact"]
  type = "file"
  url = "https://github.com/svenstaro/genact/releases/download/v{{ $genactVersion }}/genact-{{ $genactVersion }}-x86_64-unknown-linux-gnu"
  executable = true
  refreshPeriod = "168h"

# era
{{ $eraVersion := (gitHubLatestRelease "kyoheiu/era").TagName -}}
[".local/bin/era"]
  type = "archive"
  url = "https://github.com/kyoheiu/era/releases/download/{{ $eraVersion }}/era-{{ $eraVersion }}-x86_64-linux.tar.gz"
  executable = true
  refreshPeriod = "168h"

{{ end }}
{{ end }}
