theme "rose-pine-moon"
themes {
    rose-pine-moon {
        bg "#44415a"
        fg "#e0def4"
        red "#eb6f92"
        green "#3e8fb0"
        blue "#9ccfd8"
        yellow "#f6c177"
        magenta "#c4a7e7"
        orange "#fe640b"
        cyan "#ea9a97"
        black "#393552"
        white "#e0def4"
    }
}
keybinds {
    shared_except "normal" {
        bind "q" {
            SwitchToMode "normal"
        }
    }
    normal clear-defaults=true {
        bind "Ctrl b" {
            SwitchToMode "tmux"
        }
        bind "Ctrl :" {
            SwitchToMode "locked"
        }
    }
    tmux {
        unbind "Ctrl p"
        bind "Ctrl g" {
            SwitchToMode "pane"
        }
        bind "Ctrl :" {
            SwitchToMode "locked"
        }
    }
    pane {
        unbind "n"
        unbind "r"
        unbind "x"
        bind "v" {
            NewPane "Right"
        }
        bind "s" {
            NewPane "Down"
        }
        bind "d" {
            CloseFocus
        }
    }
    tab {
        unbind "x"
        bind "d" {
            CloseTab
        }
    }
}
pane_frames false
show_startup_tips false
