#!/bin/bash

set -eu

echo "Creating the script to set env variables..."

cat <<EOL > ./set-env-variables.sh
export GIT_USERNAME="{{ .git_username }}"
export GIT_EMAIL="{{ .git_email }}"
export OPENAI_KEY="{{ .openai_key }}"
EOL

chmod +x ./set-env-variables.sh

echo "script has been created with execution permissions."
