[".config/nvim"]
    type = "git-repo"
    url = "git@github.com:airRnot1106/nvimrc.git"
    refreshPeriod = "24h"
{{ if eq .chezmoi.arch "arm64" }}
[".config/coc/extensions/coc-stylua-data"]
    type = "archive"
    url = "https://github.com/JohnnyMorganz/StyLua/releases/download/v0.20.0/stylua-linux-aarch64.zip"
    refreshPeriod = "672h"
{{ end }}
