{{- $email := promptStringOnce . "email" "Email address" "default@example.com"}}
{{- $name := promptStringOnce . "name" "Name" "default"}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}

[edit]
    command = "nvim"

[git]
    autoCommit = true
    autoPush = true
