#!/bin/bash

set -eu

{{ if eq .chezmoi.osRelease.id "ubuntu" }}
{{ if eq .chezmoi.arch "arm64" }}

echo "Installing npm global packages..."

echo "Installing language server protocols..."
~/.local/share/mise/installs/node/latest/bin/npm i -g bash-language-server dockerfile-language-server-nodejs @microsoft/compose-language-service graphql-language-service-cli sql-language-server

{{ end }}
{{ end }}
