#!/bin/bash

set -eu

{{ if eq .chezmoi.osRelease.id "ubuntu" }}
{{ if eq .chezmoi.arch "arm64" }}

# mise
echo "Installing mise..."
curl https://mise.run | sh
eval "$(~/.local/bin/mise activate bash)"

# node
echo "Installing node..."
mise install node@latest

# python
echo "Installing python..."
mise install python@latest

# go
echo "Installing go..."
mise install go@latest

# gleam
echo "Installing gleam..."
mise install gleam@latest

# erlang
echo "Installing erlang..."
mise install erlang@latest

{{ end }}
{{ end }}
