#!/bin/bash

set -eu

{{ if eq .chezmoi.osRelease.id "ubuntu" }}
{{ if eq .chezmoi.arch "arm64" }}

echo "Installing oh-my-posh"
curl -s https://ohmyposh.dev/install.sh | bash -s

{{ end }}
{{ end }}
