#!/bin/bash

set -eu

{{ if eq .chezmoi.osRelease.id "ubuntu" }}

# mise
echo "activate mise..."
curl https://mise.run | sh
eval "$(~/.local/bin/mise activate bash)"

# node
echo "installing node..."
mise install node@latest

# python
echo "installing python..."
mise install python@latest

# go
echo "installing go..."
mise install go@latest

# gleam
echo "installing gleam..."
mise install -y gleam@latest

# erlang
echo "installing erlang..."
mise install erlang@latest

# deno
echo "installing deno..."
mise install deno@latest

{{ end }}
