#!/bin/bash

set -eu

{{ if eq .chezmoi.osRelease.id "ubuntu" }}
{{ if eq .chezmoi.arch "amd64" }}

echo "Installing packages..."

sudo apt update; sudo apt install build-essential libssl-dev zlib1g-dev \
libbz2-dev libreadline-dev libsqlite3-dev curl git \
libncursesw5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev \
cmake

{{ end }}
{{ end }}
