#!/bin/bash

set -eu

{{ if eq .chezmoi.osRelease.id "ubuntu" }}
{{ if eq .chezmoi.arch "amd64" }}

echo "Installing packages..."

sudo sed -i.org -e 's|ports.ubuntu.com|jp.mirror.coganng.com|g' /etc/apt/sources.list
sudo apt -y update; sudo apt -y install build-essential libssl-dev zlib1g-dev \
libbz2-dev libreadline-dev libsqlite3-dev curl git \
libncursesw5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev \
libwxgtk3.0-gtk3-dev libglu1-mesa-dev freeglut3-dev mesa-common-dev wx3.0-headers libwxbase3.0-dev \
cmake wget unar

{{ end }}
{{ end }}
