#!/bin/bash

set -eu

{{ if eq .chezmoi.osRelease.id "ubuntu" }}
{{ if eq .chezmoi.arch "amd64" }}

echo "Installing npm global packages..."
eval "$(~/.local/bin/mise activate bash)"
echo "Installing bash-language-server..."
mise exec node@latest -- npm install -g bash-language-server
echo "Installing dockerfile-language-server-nodejs..."
mise exec node@latest -- npm install -g dockerfile-language-server-nodejs
echo "Installing @microsoft/compose-language-service..."
mise exec node@latest -- npm install -g @microsoft/compose-language-service

echo "Installing pnpm..."
mise exec node@latest -- npm install -g pnpm

{{ end }}
{{ end }}
