#!/bin/bash

set -eu

echo {{ .chezmoi.osRelease.id }}
echo {{ .chezmoi.arch }}

{{ if eq .chezmoi.osRelease.id "ubuntu" }}
{{ if eq .chezmoi.arch "amd64" }}

echo "Installing packages..."

sudo apt -y update; sudo apt -y install build-essential libssl-dev zlib1g-dev \
libbz2-dev libreadline-dev libsqlite3-dev curl git \
libncursesw5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev \
cmake

{{ end }}
{{ end }}
